
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


*{
    font-family: "Shadows Into Light", cursive;
    text-align: center;
    font-size: 20px;
}

.banner {
    background-image: url('../../assets/onepiece1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    margin: 5rem;  
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
   

